body {
    display:flex;
    flex-direction: column;
    max-width: 1130px;
    margin:auto;
    align-items: center;
    background: #355C7D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #C06C84, #6C5B7B, #355C7D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #C06C84, #6C5B7B, #355C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}



h1 {
    justify-content: center;
    text-align: center;
    font-family: 'Simonetta', ;
    color: rgba(70, 194, 39, 0.63);
    font-size: 60px;

}

.algus {
    font-size: 30px;
    text-align: center;
}

.lopp {
    text-align: center;
}

.nupp {
    background-color: rgba(77, 187, 81, 0.699); /* Green */
    border: none;
    color: rgba(255, 255, 255, 0.562);
    padding: 16px 50px;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-top: 50px;
}

.nupp:hover {
    background-color: #4CAF50; /* Green */
    color: white;

  }